/* Allows you to view f90.bgf in a browser */
root::before {
    content: "@BEGIN ::= ";
}
production {
    margin-top: .5em;
    display: block;
}
production > expression::before {
    content: " ::=";
}
production > expression::after {
    content: ";";
}
choice {
    margin-left: 5em;
    display: block;
}
choice > expression {
    display: block;
}
choice > expression:first-child::before {
    display: inline-block;
    content: "";
    width: .5em;
}
choice > expression:not(:first-child)::before {
    display: inline-block;
    content: "|";
    width: .5em;
}
optional::before {
    content: "[";
}
optional::after {
    content: "]";
}
plus::before {
    content: "{";
}
plus::after {
    content: "}+";
}
star::before {
    content: "{";
}
star::after {
    content: "}";
}
terminal {
    font-family: monospace;
}
terminal::before {
    content: "'";
}
terminal::after {
    content: "'";
}
